@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  font-weight: 400;
  user-select: none;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-tap-highlight-color: transparent;
  -webkit-text-size-adjust: 100%;
}

body {
  color: #050505;
  margin: 0 auto;
  /* letter-spacing: 0; */
  /* place-items: center; */
  /* max-width: 800px; */
  min-height: 100vh;
}
